<!DOCTYPE html>
<html>
<head>
    <title>广告页面</title>
    <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>

</head>
<body>

<div style="text-align: center">
    <h1>广告专题页面（测试）</h1>
    <a href="#" title="点击进入" action_id='ECP' action_name='点击ECP图标'><img src="http://10.10.10.231/static/img/logo.png"></a>
    <a href="#" title="点击进入" action_id='YAHOO' action_name='点击YAHOO图标'><img src="http://cn.yimg.com/yhp/20100208/yahoologo.png"></a>
    <a href="#">无采集链接</a>
</div>
</body>
</html>
<script type="text/javascript">
    var _maq = _maq || [];
    _maq.push(['_setAccount', 'U-22A']);
    _maq.push(['_setPageID', 'X-123SS']);

    (function() {
        var ma = document.createElement('script'); ma.type = 'text/javascript'; ma.async = true;
        ma.src = ('https:' == document.location.protocol ? 'https://analytics' : 'http://analytics') + '.ai7mei.com/a.js';
        //ma.src = '/static/js/analytics.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ma, s);
    })();
</script>