{% extends "layout.html" %}
{% from "_macro.html" import inline_field %}
{% set category='analytics' %}
{% block title %}广告位管理{% endblock %}
{% block js %}
    {{ super() }}
    <script type="text/javascript">
        $(function(){
            $('select').select2({
                width:'120px'
            });

            $('a[data-confirm]').bind('click', function() {
                var item_id = $(this).data('item_id');
                bootbox.confirm($(this).data('confirm'), function(result) {
                    if (result!=true){
                        return;
                    }
                    var req = $.ajax({
                        url: '/item/del/' + item_id,
                        dataType: "json",
                        type: 'POST'
                    });
                    req.done(function (data) {
                        if (data.result == true) {
                            window.location.reload(true);
                        }
                        else {
                            bootbox.alert("操作失败：" + data.error);
                        }
                    });
                    req.fail(function (request, status, error) {
                        bootbox.alert('发生错误:' + error);
                    });
                });
                return false;
            });
        });

    </script>
{% endblock %}
{% block main %}
    <form action="{{ request.path }}" method="post" class="form-search inline well">
        {{ form.hidden_tag() }}
        {{ inline_field(form.medium) }}
        {{ inline_field(form.name) }}
        {{ inline_field(form.url) }}
        {{ inline_field(form.remark) }}
        <button type="submit" class="btn btn-success"><i class="icon-plus icon-white"></i> 新增广告位</button>
    </form>

    <table class="table table-bordered table-condensed table-hover">
        <thead>
        <tr class="table-condensed">
            <th>ID</th>
            <th>媒体</th>
            <th>广告位</th>
            <th>链接地址</th>
            <th>描述</th>
        </tr>
        </thead>
        <tbody>
        {% for item in items %}
            <tr>
            <td>{{ item.id }}</td>
                <td>{{ item.medium.name }}</td>
                <td><code>{{ item.name }}</code></td>
                <td>{{ item.url|url_link|safe }}</td>
            <td>{{ item.remark }}</td>
{#                <td style="text-align: center">#}
{#                    <a href="#" data-item_id="{{ item.id }}" data-confirm="确认删除商品《{{ item.name }}》？" class="confirm"><i class="icon-remove icon-black"></i></a>#}
{#                </td>#}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}