{% extends "layout.html" %}
{% from "_macro.html" import form_errors,horizontal_field,inline_field,addon_field %}
{% set category='stock' %}
{% block title %}入库登记{% endblock %}
{% block js -%}
    {{ super() }}
    <script>
    $('#datepicker2').datepicker({
    format: 'yyyy-mm-dd',
    language:'zh-CN'});
    $('select').select2({
        width:'220px'
    });
    $('body').data({'units': {}});
    var units = $('body').data('units');
    {% for k,obj in form.sku._get_object_list() %}
    units['{{k}}'] = "{{ obj.unit }}";
    {% endfor %}

    var update_unit = function(){
        var k = $('#sku').val();
        if (units[k]==null){
            $('#in_quantity-add-on').text('');
        }
        else{
            $('#in_quantity-add-on').text(units[k]);
        }
    }

    $('#sku').on('change',function(){
        update_unit();
    });
    update_unit();
    </script>
{%- endblock %}

{% block main %}
    <form class="form-horizontal" method='post' action='{{ request.path }}'>
        <fieldset>
            <legend class="lead">{% if is_edit %}入库修改{% else %}入库登记{% endif %}</legend>
            {{ form.hidden_tag() }}
            {{ horizontal_field(form.sku,style="width:220px") }}
            {{ horizontal_field(form.store_id,style="width:220px") }}
            {{ horizontal_field(form.shelf_number) }}
            {{ horizontal_field(form.code) }}
            {{ horizontal_field(form.mfg_date,id="datepicker") }}
            {{ horizontal_field(form.exp_date,id="datepicker2") }}
            {{ horizontal_field(form.made_in) }}
            {{ addon_field(form.purchase_price,append_text="元",class="span9") }}
            {{ addon_field(form.in_quantity,append_text="件",class="span9") }}
            {{ horizontal_field(form.remark,style="width:220px;height:50px") }}

            <div class="form-actions">
                <button type="submit" class="btn btn-success" >{% if is_edit %}确认修改{% else %}添加{% endif %}</button>

            </div>

        </fieldset>
    </form>
{% endblock %}