{% extends "layout.html" %}
{% from "_macro.html" import render_pagination,horizontal_field,form_errors  with context %}
{% set category='order' %}
{% block title %}陆航韵达邮政录单{% endblock %}
{% block js %}
    {{ super() }}
    <script type="text/javascript" src="{{ url_for('static', filename='js/address.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/media.js') }}"></script>
    <script type="text/javascript">
    $(function(){
        $('a.confirm').on('click',function(e){
            var operator_id = parseInt($(this).data('id'));
            bootbox.confirm($(this).data('confirm'), function(result) {
                if (result!=true){
                    return;
                }
                var req = $.ajax({
                    url: '/operator/delete/' + operator_id,
                    dataType: "json",
                    type: 'POST'
                });
                req.done(function (data) {
                    if (data.result == true) {
                        window.location.reload(true);
                    }
                    else {
                        bootbox.alert("操作失败：" + data.error);
                    }
                });
                req.fail(function (request, status, error) {
                    bootbox.alert('发生错误:' + error);
                });
            });
            return false;
        });
		/*   地址查询   */
        new PCAS("province", "city", "district");
    });
	$('form').submit(function () {
		var order_id = $('#order_id').val();
		if (order_id==null || order_id==''){
			bootbox.alert('订单号不能为空!');
			$('#order_id').focus();
			return false;
		}else if(order_id.length != 11){
			bootbox.alert('订单号是11位!');
			$('#order_id').focus();
			return false;
		}
		var express_number = $('#express_number').val();
		if (express_number==null || express_number==''){
			bootbox.alert('邮政单号不能为空!');
			$('#express_number').focus();
			return false;
		}
	});
    </script>
{% endblock %}

{% block main %}
    <form action="" method="get" class="form-search inline">
    <div class="alert alert-block alert-error fade in" id="error" style="display: none">
        <button type="button" class="close" onclick="$('#error').hide();">&times;</button>
        <p></p>
    </div>
        <input type="text" class="input-medium" name="order_id" id="order_id" placeholder="订单号">
        <input type="text" class="input-medium" name="express_number" id="express_number" placeholder="邮政单号">
        <button type="submit" class="btn btn-primary">录入</button>
    </form>
{% endblock %}