{% extends "layout.html" %}
{% from "_macro.html" import render_pagination with context %}

{% set can_sms_mass = current_user.action('integration_edit') %}

{% set category='user' %}
{% block title %}积分管理{% endblock %}
{% block css %}
{{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/datetimepicker.css') }}" />
{% endblock %}
{% block js %}
    {{ super() }}
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap-datetimepicker.min.js') }}" charset="UTF-8"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/locales/bootstrap-datetimepicker.zh-CN.js') }}" charset="UTF-8"></script>

    <script type="text/javascript">
        $(function(){
            $('#type').select2({
                width:'120px',
                placeholder:'类型',
                allowClear:true
            });

            {% if can_sms_mass %}

            $('#sms-form').submit(function(){
                var phones = $('#phones').val().replace(/ /g,'').replace(/\n/g,',');
                if(phones == ''){
                    alert('群发号码不允许为空！');
                    $('#phones').focus();
                    return false;
                }
				var integration = parseInt($('#integration').val());
				if (isNaN(integration) || integration<0) {
					bootbox.alert('积分不能小于0！',function(){
						$('#integration').focus();
					});
					return false;
				}

                var req = $.ajax({
                    url: '{{ url_for('admin.integration_edit') }}',
                    dataType: "json",
                    type: 'POST',
                    data: {integration: integration,phones:phones,type:$('#type').val(),mero:$('#mero').val()}
                });
                req.done(function (data) {
                    if (data.result == true) {
                        window.location.reload(true);
                    }
                    else {
                        bootbox.alert("操作失败：" + data.error);
                    }
                });
                req.fail(function (request, status, error) {
                    bootbox.alert('发生错误:' + error);
                });
                return false;
            });
            {% endif %}


            $('#sms-mass').click(function(){
                $('#smsModal').modal('show');
                $('#phones').focus();
            });
        });

    </script>
{% endblock %}
{% block main %}
    <form action="" name="query-form" method="get" class="form-search inline well well-small">
        <input id="phone" name="phone" type="text" value="{{ request.args['phone'] }}" placeholder="电话号码" />
        <input id="start_date" name="start_date" type="text" value="{{ request.args['start_date'] }}" placeholder="开始时间" class="timepicker" />
        <input id="end_date" name="end_date" type="text" value="{{ request.args['end_date'] }}" placeholder="结束时间" class="timepicker" />

        <button type="submit" class="btn btn-primary" style="margin-left: 10px"><i
                class="icon-search icon-white"></i>
            查询
        </button>
        {% if can_sms_mass %}
        <a href="#" class="btn btn-success pull-right" id="sms-mass">积分增加</a>
        {% endif %}
    </form>

    {% if can_sms_mass %}
    <form name="sms-form" id="sms-form" method="POST">
        <div id="smsModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-header">
                <a  class="close" data-dismiss="modal" aria-hidden="true">×</a>
                <h2>积分增加</h2>
            </div>
            <div class="modal-body">
                <textarea class="span12" style="height: 90px" id="phones" name="phones" placeholder="多个号码请换行"></textarea>
                <select style="display:none;" id="type"><option value="1">活动</option><option value="2">提前使用</option></select>
                <input class="span6 input" type="text" style="height: 25px" id="integration" name="integration" placeholder="积分"/>
                <input class="span12 input" type="text" style="height: 25px" id="mero" name="mero" placeholder="备注"/>
            </div>
            <div class="modal-footer" style="text-align: center">
                <button class="btn btn-success" type="submit">确认发送</button>
            </div>

        </div>
    </form>
    {% endif %}

    <table class="table table-bordered table-hover">
        <thead>
        <tr class="table-condensed">
            <th>号码</th>
            <th>积分</th>
            <th>类型</th>
            <th>备注</th>
            <th>员工</th>
            <th style="width: 90px">创建时间</th>
        </tr>
        </thead>
        <tbody>
        {% for sms in pagination.items %}
            <tr>
                <td style="word-break:break-all">{{ sms.phone }}</td>
                <td>{{ sms.integration }}</td>
                <td>{{ config['INTEGRATION_STATUS'][sms.type] }}</td>
                <td>{{ sms.mero }}</td>

                <td>
                    {% set operator = sms.operator %}
                    {% if operator %}
                        {{ operator.nickname }}
                    {% endif %}
                </td>
                <td>{{ sms.created|format_date('%m-%d %H:%M:%S') }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="alert alert-info pull-left">
        合计：<strong>{{ pagination.items|length }}</strong>条
    </div>

    {{ render_pagination(pagination) }}
{% endblock %}